header {
    /*background-image: url('../images/header_bg.jpg'); */
    background-size: cover; /* 确保图片覆盖整个头部区域 */
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
}


header {
    font-family: 'Arial Black', Gadget, sans-serif; /* 设置字体为黑体 */
    font-weight: bold; /* 文字加粗 */
    text-indent: 1em; /
    margin-top: 0;

}

header h1,  {
    font-size: 24px; /* 设置字体大小，根据需要调整 */
}


header p {
    font-size: 18px; /* 设置字体大小，根据需要调整 */
}

body {
    font-family: Arial, 'Microsoft YaHei', '微软雅黑',  sans-serif;
    font-size: 18px;
    background: #f4f4f4;
}

p {
    line-height: 1.5; /* 这是相对单位，基于当前字体大小的1.5倍 */
    letter-spacing: 0.5px;
    /*text-indent: 2em; /* 或者使用像素值，如 20px */ 
}

strong {
    font-weight: bold; /* 确保加粗 */
    /* 其他需要的样式 */
}



nav {
    margin-top: 20px; /* 增加顶部外边距 */
}


.container {
    width: 80%;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container p{
    margin: 0;
}

footer {
    width: 100%; /* 设置页脚宽度与父容器一致 */
    padding: 10px 0; /* 上下填充，左右无填充 */
    text-align: center; /* 文本居中 */
    /*background-color: #f2f2f2; /* 背景颜色，根据需要更改 */
    color: #333; /* 文字颜色，根据需要更改 */
    /*border-top: 1px solid #e1e1e1; /* 页脚顶部边框线 */
    font-size: 0.8em; /* 字体大小 */
    /*box-sizing: border-box; */
}

footer a {
    color: #0066cc; /* 链接颜色，根据需要更改 */
    text-decoration: none; /* 去除下划线 */
}

footer a:hover {
    text-decoration: underline; /* 鼠标悬停时下划线 */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 120px;
}

nav ul li:last-child {
    margin-right: 0; /* 最后一个列表项的右边距设置为0 */
}

nav ul li a {
    text-decoration: none;
    color: #0044FB;
    font-weight: bold;
}


main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

.book_intro p {
    text-align: justify;
    text-indent: 2em; /* 或者使用像素值，如 20px */ 
}

.lectures p{
    text-align: justify;
    text-indent: 2em; /* 或者使用像素值，如 20px */ 
}

.book_cite pre {
  background-color: #f8f8f8; /* Light grey background for the bibtex code block */
  border: 1px solid #ccc; /* Grey border for the code block */
  padding: 10px; /* Padding inside the code block */
  font-family: monospace; /* Monospace font for the code block */
}

.FAQ p{
    text-align: justify;
    text-indent: 2em; /* 或者使用像素值，如 20px */ 
}

.book_intro .book_intro_img {
    width: 70%; /* 图片宽度为容器宽度的50% */
    height: auto; /* 保持图片的原始纵横比 */
    display: block; /* 确保图片独占一行 */
    margin: 0 auto; /* 图片居中显示 */
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.book_intro {
    margin-top: 20px; /* 增加图片上方的间距 */
    margin-bottom: 20px; /* 增加图片下方的间距 */
}


.book_intro:hover .book_intro_img {
    border-color: #ff9900;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}