/* 在 "css/style.css" 文件中添加以下样式规则 */
.news-list .news-time {
    font-size: 16px; /* 新闻事件的字体大小，根据需要调整 */
    margin-bottom: 5px; /* 增加新闻事件底部外边距，根据需要调整 */
}

.news-list .news-title {
    font-size: 16px; /* 新闻标题的字体大小，根据需要调整 */
    margin-top: 5px; /* 增加新闻标题顶部外边距，根据需要调整 */
}
